<%= render "shared/banner" %>

<div class="container">
  <div class="row container-cards">
    <% Cocktail.take(3).each_with_index do |cockail, index| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= select_image(index) %>);">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= cockail.name %></h2>
          <p><%= cockail.ingredients.first.name %></p>
        </div>
        <a href="#" class="card-link"></a>
      </div>
    </div>
    <% end %>
  </div>
</div>
